@value colors: "../../styles/colors.css";
@value robinsEgg, blueSapphire, blueJay, pacificBlue, gunmetal from colors;

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pacificBlue;
  background-image: linear-gradient(to bottom, pacificBlue, blueJay);
  width: 100%;
  height: 1vw;
  padding: 1vw 0vw 1vw 0vw;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: gunmetal;
  box-shadow: inset 0 0 .3vw 0 rgb(24, 52, 70, 0.4); /* midnight */
  color: robinsEgg;
}

.calendarTitle {
  float: left;
  padding-left: 7%;
  font-size: .7vw;
}
