@value colors: "../../styles/colors.css";
@value robinsEgg, blueSapphire, midnight from colors;

.textInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
    height: 5vh;
}

.textInputField {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: midnight;
    color: rgb(225, 238, 238, 0.6); /* robinsEgg */
    font-size: 1.2rem;
    /* font-family: 'Montserrat', sans-serif; */
    padding: 0px;
    padding-left: 10px;
    height: 100%;
    width: 85%;
    border: 0px;
    border-radius: 5px 0px 0px 5px;
}

.textInputButton {
    background-color: blueSapphire;
    /* font-family: 'Montserrat', sans-serif; */
    color: rgb(225, 238, 238, 0.6); /* robinsEgg */
    height: 100%;
    width: 15%;
    border-radius: 0px 5px 5px 0px;
}
