@value colors: "../../styles/colors.css";
@value robinsEgg, pacificBlue, midnight from colors;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.sidebar {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    box-shadow: .1vw .2vw .5vw rgb(24, 52, 70, 0.6); /* midnight */
    box-shadow: inset .1vw .2vw .5vw rgb(24, 52, 70, 0.6); /* midnight */
    border-color: midnight;
    background-color: pacificBlue;
    color: midnight;
    font-size: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
