@value colors: "../../styles/colors.css";
@value robinsEgg, pacificBlue, blueSapphire, blueJay, midnight from colors;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.checklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 33vh;
}

.top {

}

.title {
  padding-top: .7vh;
  padding-bottom: .7vh;
  border-radius: 4px 4px 0px 0px;
  border-color: midnight;
  background-color: blueSapphire;
  background-image: linear-gradient(to bottom, blueSapphire, blueJay);
  color: robinsEgg;
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  box-shadow: inset 0 0 5px 0 rgb(225, 238, 238, 0.6); /* robinsEgg */
  text-shadow: 2px 2px 3px midnight;
}

.textInput {
  padding-bottom: 0;
  margin-bottom: 0;
}

.itemList {
  grid-area:  2 / 1 / 4 / 2;
  overflow: auto;
  overflow-x: hidden;
}

.itemList::-webkit-scrollbar {
  /* display: none; */
  width: .5vw;
}

.itemList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

.itemList::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px 0 rgb(225, 238, 238, 0.6); /* robinsEgg */
  background: blueJay;
  border-radius: 10px;
}

.itemList::-webkit-scrollbar-thumb:hover {
  background: pacificBlue;
}


/* ul {
  width: 100%;
  list-style-position: outside;
}

li {
  list-style-type: none;
} */
